.divfooter {
  
  display: flex;
  justify-content: space-between;
  margin: auto;
}
footer div a {
  color: #22223b;
  margin: 0 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
a:hover {
  background-color: #4a4e69;
  padding-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 #22223b;
  color: white;
}
footer {
  border-top: solid#22223b;
  height: 60px;
  width: 100%;
  background-color: #c9ada7;
  position: fixed;
  bottom: 0px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
