* {
  margin: 0;
  padding: 0;
}
header {
  border-bottom: solid;
  font-size: 22px;
  color: #22223b;
  text-align: center;
  background: #9a8c98;
  margin-bottom: 24px;
}
body {
  background-color: #f2e9e4;
}
section img {
  border-radius: 24px;
  margin-bottom: 24px;
}
section {
  color: #22223b;
  align-items: center;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 16px;
  text-align: center;
  font-weight: 600;
  word-spacing: 1px;
  background: #9a8c98;
  margin: 18px auto;
}
section p a {
  color: #22223b;
}

main{
  color: #22223b;
}
h2 {
  background-color: #c9ada7;
  color: #22223b;
  text-align: center;
  margin: 25px auto;
  border-radius: 7px;
  font-size: 32px;
  width: 180px;
}
.texthabilidades {
  margin: auto;
  width: 380px;
  border-radius: 16px;
  text-align: center;
}
.texthabilidades ul {
  list-style-type: none;
  margin: auto;
}
